# Ignore everything
/*
src/content/blog/how-to-add-katex-to-astropaper.md

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc
!eslint.config.mjs
!README.md
