---
// import { onMount } from "astro:renderer-react";
import { SITE, MEMOS_RSS_FEED } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

// 使用 rss-parser 解析 RSS feed
import Parser from "rss-parser";

const parser = new Parser();

const feed = await parser.parseURL(MEMOS_RSS_FEED.url);

const items = feed.items.map(item => ({
  link: item.link,
  description: item.contentSnippet || item.description,
  pubDate: item.pubDate,
  enclosure: item.enclosure,
}));
---

<Layout title={`Memos | ${SITE.title}`}>
  <Header activeNav="memos" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="memos" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">Memos</h1>
      <p>Working on it...</p>
    </section>
  </main>
</Layout>
<Footer />
