---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="miscs" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="miscs" class="prose prose-img:border-0 mb-28 max-w-3xl">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot /><br />
      <div id="letterboxd-embed-wrapper-tc">Loading...</div>
    </section>
  </main>
</Layout>
<script>
  fetch("https://lb-embed-content.bokonon.dev?username=lkw123")
    .then(response => response.text())
    .then(data => {
      const element = document.getElementById("letterboxd-embed-wrapper-tc");
      if (element) {
        element.innerHTML = data;
      }

      const style = document.createElement("style");
      style.innerHTML = `
            html[data-theme="dark"] .letterboxd-embed-tc-title {
                color: lightgray !important;
            }
            html[data-theme="dark"] .letterboxd-embed-tc-date {
                color: gray !important;
            }
            html[data-theme="dark"] .letterboxd-embed-tc-review {
                color: lightgray !important;
            }
            .letterboxd-embed-tc-review {
                font-size: 0.9rem !important;
            }
        `;
      if (element) {
        element.appendChild(style);
      }
    });
</script>
<Footer />
